<div layout-gt-sm="row" tdMediaToggle="gt-sm">
  <div class="example-loading-shade"
  *ngIf="isLoadingResults">
<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
	<div flex-gt-sm="100">
		<mat-card>
			<mat-card-title>

        <mat-toolbar color="">
          <button mat-raised-button color="link" (click)="navigateToProdutoCreate()"><mat-icon>add_box</mat-icon>Novo</button>
          <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'Tabela_Produtos', sheet: 'Planilha1', Props: {Author: 'Sistema'}})">Excel</button>
          <button mat-raised-button color="link" (click)="exporter.exportTable('csv')"><mat-icon>picture_as_pdf</mat-icon>Exportar CSV</button>
          <button mat-raised-button color="link" (click)="exporter.exportTable('json')"><mat-icon>picture_as_pdf</mat-icon>Exportar Json</button>
          <button mat-raised-button color="link" (click)="exporter.exportTable('txt')"><mat-icon>print_box</mat-icon>Exportar TXT</button>
          <button mat-raised-button color="link" (click)="exporter.exportTable('txt')"><mat-icon>print_box</mat-icon>Imprimir</button>
        </mat-toolbar>
        <router-outlet></router-outlet>

      </mat-card-title>
			<mat-divider></mat-divider>
			<mat-card-content>
				<div class="mat-elevation-z8">
					<mat-form-field>
						<mat-label>Filtro</mat-label>
						<input matInput (keyup)="applyFilter($event)" placeholder="Ex. Teclado">
          </mat-form-field>

						<mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter" [hiddenColumns]="[5]">
							<!-- Id Column -->
							<ng-container matColumnDef="id">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
								<td mat-cell *matCellDef="let row">{{ row.id}}</td>
							</ng-container>

							<!-- Name Column -->
							<ng-container matColumnDef="nome">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
								<td mat-cell *matCellDef="let row">{{row.nome}}</td>
							</ng-container>

							<!-- Description Column -->
							<ng-container matColumnDef="descricao">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
								<td mat-cell *matCellDef="let row">{{row.descricao}}</td>
							</ng-container>

							<!-- Quantidade Column -->
							<ng-container matColumnDef="estoque">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade</th>
								<td mat-cell *matCellDef="let row">{{row.estoque}}</td>
              </ng-container>

              <!-- Price Column -->
							<ng-container matColumnDef="precoVenda">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
								<td mat-cell *matCellDef="let row">{{row.precoVenda}}</td>
							</ng-container>

							<!-- Action Column -->
							<ng-container matColumnDef="action">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
								<td mat-cell *matCellDef="let row">
                  <button mat-raised-button color="primary" (click)="update(row.id)"><mat-icon>edit</mat-icon></button>
                  <button mat-raised-button color="warn" (click)="delete(row.id)"> <mat-icon>delete</mat-icon></button>
                </td>
							</ng-container>

							<tr mat-header-row *matHeaderRowDef="colunas"></tr>
							<tr mat-row *matRowDef="let row; columns: colunas;">
							</tr>
						</mat-table>

						<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
